---
http_interactions:
- request:
    method: post
    uri: https://home.nest.com/user/login
    body:
      encoding: UTF-8
      string: username=msmith46234%40yahoo.com&password=Tuathadea1!
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user":"user.2423243","access_token":"b.2423243.BTCUjIngAzKxtPkByuG7z3gbTPKXan4o0ct6DiNKLgfTA1zzIgwajxXOqawpSy3nwt8GzLfqyoHkjAk4oNTlWcO57TDBQieqSvLTdSnWeWphD6Y9Vv30VRZpso8lQvSmILZOwg7tqlbJS2NR","expires_in":"Wed,
        25-Nov-2015 18:55:50 GMT","language":"en_US","email":"msmith46234@yahoo.com","is_superuser":false,"is_staff":false,"urls":{"transport_url":"https://czfe10-front01-iad01.transport.home.nest.com","czfe_url":"https://czfe10-front01-iad01.transport.home.nest.com","direct_transport_url":"https://transport01-rts09-iad01.transport.home.nest.com:443","rubyapi_url":"https://home.nest.com/","weather_url":"https://apps-weather.nest.com/weather/v1?query=","log_upload_url":"https://log-rts09-iad01.home.nest.com/upload/user","support_url":"https://nest.secure.force.com/support/webapp?"},"limits":{"thermostats_per_structure":20,"structures":2,"thermostats":40,"smoke_detectors":36,"smoke_detectors_per_structure":18},"weave":{"service_config":"1QAADwABADYBFTABCEdYfNbKQ+Z8JAIENwMnEwEAAADuMLQYGCYERUgWGiYFRQb7STcGJxMBAAAA7jC0GBgkBwImCCUAWiMwCjkEFJtArVoBj0T+fpKZeV1TBT0osdlSUx1FRK1ZTcslNfDQSMUwiG3iH5tQjeGhrxbfr0kphGthRBA1gykBKQIYNYIpASQCYBg1gTACCEM09xLfX5HPGDWAMAIIQzT3Et9fkc8YNQwwAR0AlvB51cbUag/T//0P7EqwJNQATpT0hWNT7odJgzACHQCPTm4jL9hwiKnIKvpqXtz6LnCd0ifQrU9apo0jGBgVMAEIXYkodEr1AdAkAgQ3AywBBzI0MjMyNDMYJgSUcSIeJgWUGkgxNwYsAQcyNDIzMjQzGCQHAiYIJQBaIzAKOQRiIZeDbWdzrS9L/8BCP231hinNbMIB5VWsBP8zjc4U9PxFkrC2Nom9hfEnUYIx/SjsaJJp5yPuODWDKQEYNYIpASQCBRg1hCkBNgIEAgQBGBg1gTACCE5l7/ee7NldGDWAMAIITmXv957s2V0YNQwwARwOJoELt7iynQNB/aGh9JoQL/gzTFzUI7Am0xYeMAIdAIt0EwEUhHkegDzo172nvW2fQy5qMtUUA3RK5TAYGBg1AicBAQAAAAIwtBg2AhUsARJmcm9udGRvb3IubmVzdC5jb20lAlcrGBgYGA==","pairing_token":"wu.DIm7mLNzXeNy9uc+oQMtOgVtTeOqB+dV8i0bDsHRK5tceHltlApA2JQ0g8B9f2GMuFlhpDt4wTmBpCmX+H9+WSpYsJM=","access_token":"lQkANQEwAQhdiSh0SvUB0CQCBDcDLAEHMjQyMzI0MxgmBJRxIh4mBZQaSDE3BiwBBzI0MjMyNDMYJAcCJgglAFojMAo5BGIhl4NtZ3OtL0v/wEI/bfWGKc1swgHlVawE/zONzhT0/EWSsLY2ib2F8SdRgjH9KOxokmnnI+44NYMpARg1gikBJAIFGDWEKQE2AgQCBAEYGDWBMAIITmXv957s2V0YNYAwAghOZe/3nuzZXRg1DDABHA4mgQu3uLKdA0H9oaH0mhAv+DNMXNQjsCbTFh4wAh0Ai3QTARSEeR6APOjXvae9bZ9DLmoy1RQDdErlMBgYNQImASUAWiMwAhxnzkTnVXVu258FYcj1SssE/s4zKq9t+kBSvHPlGBg="},"userid":"2423243"}'
  recorded_at: Mon, 26 Oct 2015 18:55:51 GMT
- request:
    method: get
    uri: https://on6%DFn7%050%94%8C%89%E0%032%B1%B4%F9%01%CA%E1%BB%CFx%1BL%F2%97j~(%D1%CBz%0E%23J.%07%D3%03%5C%F3%22%0C%1A%8F%15%CE%A9%AC)K-%E7%C2%DF%06%CC%B7%EA%CA%81%E4%8C%098%A0%D4%E5Y%C3%B9%ED0%C1B'%AAJ%F2%D3u)%D6yja%0F%A6=V%FD%F4U%16i%B2%8F%25B%F4%A6%20%B6N%C2%0E%ED%AAV%C9KcQ@czfe10-front01-iad01.transport.home.nest.com/v2/mobile/user.2423243
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic b.2423243.BTCUjIngAzKxtPkByuG7z3gbTPKXan4o0ct6DiNKLgfTA1zzIgwajxXOqawpSy3nwt8GzLfqyoHkjAk4oNTlWcO57TDBQieqSvLTdSnWeWphD6Y9Vv30VRZpso8lQvSmILZOwg7tqlbJS2NR
      x-nl-user-id:
      - '2423243'
      x-nl-protocol-version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-nl-defer-device-window:
      - '120'
      x-nl-service-timestamp:
      - '1445885752623'
    body:
      encoding: UTF-8
      string: '{"user_alert_dialog":{"2423243":{"$version":6104,"$timestamp":1445885708452,"dialog_data":"","dialog_id":"confirm-pairing"}},"buckets":{"2423243":{"$version":-16484,"$timestamp":1445885751649,"buckets":["user.2423243","user_alert_dialog.2423243","message_center.2423243","user_settings.2423243","buckets.2423243","device.fake324385C79BDB","demand_response.fake324385C79BDB","device_alert_dialog.fake324385C79BDB","link.fake324385C79BDB","message.fake324385C79BDB","metadata.fake324385C79BDB","schedule.fake324385C79BDB","shared.fake324385C79BDB","track.fake324385C79BDB","tuneups.fake324385C79BDB","energy_latest.fake324385C79BDB","energy_weekly.fake324385C79BDB","diamond_sensor_event.fake324385C79BDB","diamond_sensor_config.fake324385C79BDB","structure.0b47dcf0-7c13-11e5-8199-22000b420f99","where.0b47dcf0-7c13-11e5-8199-22000b420f99","utility.0b47dcf0-7c13-11e5-8199-22000b420f99","structure_history.0b47dcf0-7c13-11e5-8199-22000b420f99","trip.0b47dcf0-7c13-11e5-8199-22000b420f99","structure_metadata.0b47dcf0-7c13-11e5-8199-22000b420f99","safety.0b47dcf0-7c13-11e5-8199-22000b420f99","safety_summary.0b47dcf0-7c13-11e5-8199-22000b420f99","geofence_info.0b47dcf0-7c13-11e5-8199-22000b420f99"]}},"track":{"fake324385C79BDB":{"$version":23500,"$timestamp":1445885734136,"online":false}},"message_center":{"2423243":{"$version":-1,"$timestamp":1325379661000,"messages":[]}},"safety":{"0b47dcf0-7c13-11e5-8199-22000b420f99":{"$version":3651,"$timestamp":1445885694252,"audio_self_test_participants":[]}},"utility":{"0b47dcf0-7c13-11e5-8199-22000b420f99":{"$version":-1,"$timestamp":1}},"where":{"0b47dcf0-7c13-11e5-8199-22000b420f99":{"$version":25319,"$timestamp":1445885694015,"wheres":[{"where_id":"00000000-0000-0000-0000-000100000001","name":"Basement"},{"where_id":"00000000-0000-0000-0000-00010000000d","name":"Bedroom"},{"where_id":"00000000-0000-0000-0000-000100000003","name":"Den"},{"where_id":"00000000-0000-0000-0000-000100000010","name":"Dining
        Room"},{"where_id":"00000000-0000-0000-0000-000100000006","name":"Downstairs"},{"where_id":"00000000-0000-0000-0000-000100000000","name":"Entryway"},{"where_id":"00000000-0000-0000-0000-00010000000b","name":"Family
        Room"},{"where_id":"00000000-0000-0000-0000-000100000002","name":"Hallway"},{"where_id":"00000000-0000-0000-0000-000100000008","name":"Kids
        Room"},{"where_id":"00000000-0000-0000-0000-00010000000a","name":"Kitchen"},{"where_id":"00000000-0000-0000-0000-00010000000c","name":"Living
        Room"},{"where_id":"00000000-0000-0000-0000-000100000005","name":"Master Bedroom"},{"where_id":"00000000-0000-0000-0000-00010000000e","name":"Office"},{"where_id":"00000000-0000-0000-0000-00010000000f","name":"Upstairs"}]}},"structure":{"0b47dcf0-7c13-11e5-8199-22000b420f99":{"$version":7396,"$timestamp":1445885715736,"away":false,"country_code":"US","creation_time":1445885694067,"location":"Palm
        Harbor, FL","name":"Chrome App Structure","postal_code":"34683","topaz_away":false,"topaz_hush_key":"FmyQftpkdU9eH9St4mMWhQ==","user":"user.2423243","devices":["device.fake324385C79BDB"],"swarm":["device.fake324385C79BDB"],"fabric_ids":[],"clutches":[],"members":[{"user":"user.2423243","roles":["owner"]}]}},"message":{"fake324385C79BDB":{"$version":-3289,"$timestamp":1445885698565,"1":{"cmd":"register"}}},"tuneups":{"fake324385C79BDB":{"$version":-1,"$timestamp":1}},"device":{"fake324385C79BDB":{"$version":2521,"$timestamp":1445885709054,"heatpump_setback_active":false,"emer_heat_enable":false,"touched_by":{},"local_ip":"192.168.2.4","switch_system_off":false,"away_temperature_high":24.444,"cooling_source":"electric","temperature_lock_high_temp":22.222,"y2_type":"unknown","leaf_threshold_cool":0,"heater_source":"gas","fan_cooling_state":false,"note_codes":[],"compressor_lockout_leaf":-17.8,"has_x3_heat":false,"target_humidity_enabled":false,"heat_x3_source":"electric","alt_heat_delivery":"forced-air","has_x2_heat":false,"fan_mode":"auto","rssi":66,"sunlight_correction_active":false,"emer_heat_delivery":"forced-air","heatpump_savings":"off","pin_y2_description":"none","humidity_control_lockout_end_time":0,"filter_reminder_level":0,"gear_opacity":0,"filter_reminder_enabled":true,"capability_level":4,"schedule_learning_reset":false,"has_x2_cool":false,"hvac_pins":"W1,C,Rh,G","ob_orientation":"O","cooling_delivery":"unknown","range_enable":false,"auto_away_enable":true,"dual_fuel_breakpoint_override":"none","lower_safety_temp_enabled":true,"has_fan":true,"dehumidifier_state":false,"emer_heat_source":"electric","nlclient_state":"","heatpump_ready":false,"cooling_x2_delivery":"unknown","available_locales":"en_US,fr_CA,es_US,en_GB","current_version":"4.1","has_fossil_fuel":true,"learning_state":"slow","pin_ob_description":"none","pin_rh_description":"power","has_alt_heat":false,"safety_temp_activating_hvac":false,"fan_duty_cycle":900,"pin_y1_description":"none","humidifier_state":false,"gear_threshold_high":0,"backplate_serial_number":"02BA01AB241200CW","has_x2_alt_heat":false,"heat_x3_delivery":"forced-air","leaf_threshold_heat":18.334,"is_on_stand":false,"has_emer_heat":false,"learning_mode":true,"leaf_learning":"ready","has_aux_heat":false,"filter_changed_set_date":1386452016,"aux_heat_source":"electric","backplate_bsl_info":"BSL","alt_heat_x2_source":"gas","sunlight_correction_ready":true,"humidifier_type":"unknown","pin_c_description":"power","humidity_control_lockout_start_time":0,"pin_w2aux_description":"none","fan_timer_timeout":0,"country_code":"US","sunlight_correction_enabled":true,"heat_x2_delivery":"forced-air","target_humidity":35,"gear_threshold_low":0,"lower_safety_temp":4.738,"cooling_x2_source":"electric","equipment_type":"electric","heat_pump_aux_threshold":10,"alt_heat_x2_delivery":"forced-air","heat_pump_comp_threshold":-31.5,"learning_days_completed_cool":0,"backplate_bsl_version":"2.1","current_schedule_mode":"HEAT","fan_duty_end_time":68400,"hvac_wires":"Heat,Fan,Common
        Wire,Rh","leaf":true,"type":"TBD","pin_g_description":"fan","click_sound":"on","away_temperature_low_enabled":true,"aux_heat_delivery":"forced-air","filter_changed_date":1387065600,"hvac_safety_shutoff_active":false,"heat_pump_comp_threshold_enabled":false,"has_dehumidifier":false,"preconditioning_ready":true,"fan_cooling_enabled":true,"leaf_away_high":28.88,"fan_cooling_readiness":"not
        ready","device_locale":"en_US","temperature_scale":"F","battery_level":3.963,"error_code":"","maint_band_upper":0.39,"preconditioning_active":false,"fan_control_state":false,"away_temperature_high_enabled":false,"dehumidifier_fan_activation":false,"learning_days_completed_heat":598,"humidifier_fan_activation":false,"pin_star_description":"none","upper_safety_temp_enabled":false,"dual_fuel_selected":false,"preconditioning_enabled":false,"current_humidity":50,"dual_fuel_breakpoint":-1,"postal_code":"94602","backplate_mono_version":"4.0.20","alt_heat_source":"gas","aux_lockout_leaf":10,"has_heat_pump":false,"heater_delivery":"forced-air","away_temperature_low":12.778,"auto_away_reset":false,"radiant_control_enabled":false,"has_air_filter":true,"temperature_lock":false,"dehumidifier_type":"unknown","time_to_target_training":"training","upper_safety_temp":35,"humidity_control_lockout_enabled":false,"fan_timer_duration":900,"target_time_confidence":0,"pin_w1_description":"heat","temperature_lock_low_temp":20,"where_id":"00000000-0000-0000-0000-000100000001","forced_air":true,"temperature_lock_pin_hash":"","auto_dehum_enabled":false,"leaf_type":1,"backplate_mono_info":"TFE
        (BP_D2) 4.0.20 (root@bamboo) 2014-02-03 10:06:33","has_dual_fuel":false,"star_type":"unknown","learning_time":1703,"maint_band_lower":0.39,"creation_time":1420654958512,"has_humidifier":false,"learning_days_completed_range":0,"dehumidifier_orientation_selected":"unknown","leaf_schedule_delta":1.11,"logging_priority":"informational","user_brightness":"medium","leaf_away_low":16.835,"pin_rc_description":"none","auto_dehum_state":false,"serial_number":"80C4887E69DF00D9","heat_x2_source":"electric","mac_address":"18b430093686","fan_duty_start_time":50400,"time_to_target":0,"backplate_model":"Backplate-2.2","heat_link_connection":0,"model_version":"Display-2.1","heat_pump_aux_threshold_enabled":true,"ob_persistence":true,"schedules":[]}},"demand_response":{"fake324385C79BDB":{"$version":-1,"$timestamp":1}},"trip":{"0b47dcf0-7c13-11e5-8199-22000b420f99":{"$version":32201,"$timestamp":1445885694252,"trips":[]}},"user":{"2423243":{"$version":9049,"$timestamp":1445885721137,"email":"msmith46234@yahoo.com","name":"msmith46234@yahoo.com","structures":["structure.0b47dcf0-7c13-11e5-8199-22000b420f99"],"structure_memberships":[{"structure":"structure.0b47dcf0-7c13-11e5-8199-22000b420f99","roles":["owner"]}]}},"link":{"fake324385C79BDB":{"$version":15330,"$timestamp":1445885698565,"structure":"structure.0b47dcf0-7c13-11e5-8199-22000b420f99"}},"device_alert_dialog":{"fake324385C79BDB":{"$version":10923,"$timestamp":1445885698565,"dialog_data":"","dialog_id":"confirm-pairing"}},"geofence_info":{"0b47dcf0-7c13-11e5-8199-22000b420f99":{"$version":-31412,"$timestamp":1445885694252,"device_events":[],"fences":[]}},"metadata":{"fake324385C79BDB":{"$version":-1,"$timestamp":1356998400000,"last_ip":"127.0.0.1","last_connection":1356998400000}},"user_settings":{"2423243":{"$version":31691,"$timestamp":1445354998080,"email_verified":true,"tos_accepted_version":1434564000000,"receive_marketing_emails":true,"receive_nest_emails":true,"receive_support_emails":true,"max_structures":2,"max_thermostats":40,"max_thermostats_per_structure":20,"max_smoke_detectors_per_structure":18,"max_smoke_detectors":36,"max_wwn_devices_per_structure":10,"max_wwn_devices":20,"tos_minimum_version":1434564000000,"tos_current_version":1434564000000,"lang":"en_US"}},"structure_metadata":{"0b47dcf0-7c13-11e5-8199-22000b420f99":{"$version":-22545,"$timestamp":1445885716351,"entitlements_api_path":"/api/0.1/structure/0b47dcf0-7c13-11e5-8199-22000b420f99/entitlements?v=037c020f-306a-4c60-99b8-23e85219b8e0"}},"shared":{"fake324385C79BDB":{"$version":-24864,"$timestamp":1445885709119,"auto_away_learning":"ready","auto_away":0,"hvac_alt_heat_state":false,"compressor_lockout_enabled":false,"hvac_heat_x3_state":false,"target_temperature_type":"heat","hvac_heater_state":false,"can_heat":true,"hvac_emer_heat_state":false,"compressor_lockout_timeout":0,"hvac_cool_x2_state":false,"target_temperature_high":26,"hvac_aux_heater_state":false,"hvac_heat_x2_state":false,"target_temperature_low":19,"hvac_ac_state":false,"target_temperature":20,"hvac_fan_state":false,"target_change_pending":false,"name":"9BDB","current_temperature":21,"hvac_alt_heat_x2_state":false,"can_cool":true}},"schedule":{"fake324385C79BDB":{"$version":23437,"$timestamp":1445885698213}},"safety_summary":{"0b47dcf0-7c13-11e5-8199-22000b420f99":{"$version":-21456,"$timestamp":1445885694252}}}'
  recorded_at: Mon, 26 Oct 2015 18:55:52 GMT
recorded_with: VCR 2.9.3
